<!-- Add new Category modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModal">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeNewCategory()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="newCategoryModalLabel" >Nouvelle categorie</h4>
	    </div>
	    <div class="modal-body">

		<!-- Modals Body  -->
		<form action="{{ path("videotech_new_category") }}" id="newCategoryModalForm" method="post" enctype="multipart/form-data">
		    <div class="form-group">
			<label for="categoryName">Categorie : </label>
			<input type="text" maxlength="255" class="form-control" id="categoryName" name ="categoryName" placeholder="Nom de la categorie ...">
		    </div>
		    
		</form>
	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"  onclick="closeNewCategory()">Fermer</button>
		<button type="button" class="btn btn-primary" onclick="submitNewCategory()" >Ajouter categorie</button>
	    </div>
	</div>
    </div>
</div>
