{% extends "@FOSUser/layout.html.twig" %}

{% block title %} Login {% endblock %}

{% block fos_user_content %}

    <style>
     body {
	 padding-top: 40px;
	 padding-bottom: 40px;
	 background-color: #eee;
     }

     .form-signin {
	 max-width: 330px;
	 padding: 15px;
	 margin: 0 auto;
     }
     .form-signin .form-signin-heading,
     .form-signin .checkbox {
	 margin-bottom: 10px;
     }
     .form-signin .checkbox {
	 font-weight: normal;
     }
     .form-signin .form-control {
	 position: relative;
	 height: auto;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
         box-sizing: border-box;
	 padding: 10px;
	 font-size: 16px;
     }
     .form-signin .form-control:focus {
	 z-index: 2;
     }
     .form-signin input[type="email"] {
	 margin-bottom: -1px;
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
     }
     .form-signin input[type="password"] {
	 margin-bottom: 10px;
	 border-top-left-radius: 0;
	 border-top-right-radius: 0;
     }

    </style>

    {% if error %}
	<div class="alert alert-warning" role="alert">
	    {{ error.messageKey|trans(error.messageData, 'security') }}
	</div>
    {% endif %}

    <form  action="{{ path("fos_user_security_check") }}" class="form-signin" method="post" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Please sign in</h2>
	{% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	{% endif %}
	
        <label for="inputEmailUsername" class="sr-only">Username or email address</label>
	
        <input type="text" id="username" name="_username" class="form-control" placeholder="Username or email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
	    <label>
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" value="remember-me"> Remember me
	    </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">
	    Sign in
	</button>
    </form>

{% endblock fos_user_content %}
